:root
{
    box-sizing: border-box;
}
*, *::before, *::after
{
    box-sizing: inherit;
}
body {
    font-family: "Noto Serif", serif;
    font-size: 16px;
    background-color: #ffffff;
    color: #000000;
    
}

.container {
    width: 1440px;
    padding: 16px 16px;
    margin: 0 auto;
}

header {
    background-color: #000000;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items:end;
    font-weight: 550;
}

ul, ol
{
    list-style: none;
    margin: 0;
    padding: 0;
    font-style: normal;
    list-style-type: none;
    text-decoration-line: none;
    

}

h1, h2, h3, h4, h5, h6, p
{
    margin: 0;
}

.logo img
{
    height: 60px;
    max-width: 100%;
}
.nav-link
{
    font-size: 15px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    
}
nav ul {
    
    display: flex;
    
}

.icon
{
    width: 30px;
    display: flex;
    max-width: 100%;
    margin: auto;
}

.icon-usa
{
    width: 48px;
    display: block;
    max-width: 100%;
    margin: auto;
}

.icon-ukr
 {
    width: 30px;
    display: block;
    max-width: 100%;
    margin: auto;
}

.icon-finance
{
    width: 48px;
    display: block;
    max-width: 100%;
    margin: auto;
}

nav ul li {
    margin-left: 17px;
    margin-right: 17px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

footer {
    background-color: #000000;
    color: #ffffff;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer_item
{
    list-style-type: none;
    text-decoration-line: none;
}
.contacts-link
{
    font-style: normal;
    text-decoration: none;
    color: #ffffff;
}
.contacts-list
{
    display: flex;
    justify-content:space-between;
}
.social-list
{
    display: flex;
    justify-content: flex-end;
}